<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
  <title>Syndica is coming! Find property at wholesale value.</title>

        <meta property="og:title" content="Syndica - Group buying for property"/>
        <meta property="og:image" content="http://www.news.com.au/lifestyle/real-life/news-life/the-surprising-substance-making-people-a-whole-lot-of-money/news-story/46502cf560564861df004c3d05c33998"/>  
        <meta property="og:site_name" content="Syndica"/>
        <meta property="og:description" content="Syndica is coming! Didn’t want to leave you all behind. Find property at wholesale value. Check it our here!" />
        <meta property="og:url" content="<%= root_url %>"/>

  <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

  
 
  <% if @is_mobile %>
    <% if @bodyId == 'home' %>
      <meta name="viewport" content="width=1600" />
    <% else %>
      <meta name="viewport" content="width=1120" />
    <% end %>
  <% end %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= @bodyId %>">

<%= yield %>


</body>
</html>
